.pageWrapper {
	display: flex;
}

.sideBar {
	flex: 0 0 300px;
	background-color: #e1e1e1;
	height: 100vh;
	padding: 30px;
}
.sidebarItem {
	padding: 10px;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid rgb(51, 45, 45);
	text-align: center;
	text-transform: capitalize;
	border-radius: 6px;
}
.sidebarItem:not(:last-child) {
	margin-bottom: 10px;
}
.pageContainer {
	flex: 0 0 calc(100% - 300px);
	padding: 20px;
}

.page {
	flex: 1 1 auto;
	padding: 0 20px;
	margin: 20px;
	border: 1px solid green;
}
.dropZone {
	flex: 0 0 auto;
	height: 40px;
	transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
	display: none;
}

.dropZone.horizontalDrag {
	width: 40px;
	height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
	flex: 1 1 auto;
}

.dropZone.active {
	background-color: green;
	transition: 0.3s ease;
}
.trashDropZone.active {
	transition: 0.3s ease;
	background-color: red;
}

.component {
	height: 60px;
	padding: 10px;
	background: #aaa;
	display: grid;
	align-items: center;
	justify-content: center;
	border: 1px dashed #ddd;
	padding: 0.5rem 1rem;
	background-color: #fff;
}

.column {
	border: 1px solid blue;
	/* flex: 1 1 100%; */
	width: 100%;
	max-width: 100%;
	padding: 10px;
	resize: horizontal;
	overflow: hidden;
	cursor: col-resize;
}

.columns {
	display: flex;
	padding: 20px 0;
}

.columnContainer {
	display: flex;
}

.base {
	padding: 0.5rem 1rem;
	background-color: white;
	cursor: move;
}

.row {
	border: 1px solid red;
	padding: 0;
}

.trashDropZone {
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border: 1px solid purple;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
}

.pageContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-bottom: 100px;
}

.componentContent {
	text-align: center;
	margin: 0;
	font-weight: 600;
}
