/* page style */
.pageWrapper {
	display: flex;
}

/* sidebar style */
.sideBar {
	flex: 0 0 300px;
	background-color: #e1e1e1;
	height: 100vh;
	padding: 30px;
}
.sidebarItem {
	padding: 10px;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid #332d2d;
	text-align: center;
	text-transform: capitalize;
	border-radius: 6px;
}
.sidebarItem:not(:last-child) {
	margin-bottom: 10px;
}

/* page container layout style  */
.pageContainer {
	flex: 0 0 calc(100% - 300px);
	padding: 20px;
}

.page {
	flex: 1 1 auto;
	padding: 0 20px;
	margin: 20px;
	border: 1px solid green;
}

/*drop zone style*/
.dropZone {
	flex: 0 0 auto;
	height: 40px;
	transition: 200ms all;
}

.dropZone.horizontalDrag {
	width: 40px;
	height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
	flex: 1 1 auto;
}

.dropZone.active {
	background-color: green;
	transition: 0.3s ease;
}

/* trash drop zone style */
.trashDropZone {
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border: 1px solid purple;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
}
.trashDropZone.active {
	transition: 0.3s ease;
	background-color: red;
}

/* base style */
.base {
	padding: 0.5rem 1rem;
	background-color: white;
	cursor: move;
}
.base p {
	cursor: pointer;
	padding: 10px;
	margin: 0;
}

/* row style */
.row {
	border: 1px solid red;
	padding: 10px;
	margin: 10px;
}

/* column style */
.column {
	border: 1px solid #1b1bd8;
	width: 100%;
	max-width: 100%;
	padding: 10px;
	resize: horizontal;
	overflow: hidden;
}

.columns {
	display: flex;
	padding: 20px 0;
}

.columnContainer {
	display: flex;
}

/* component style */
.component {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	border: 1px dashed #ddd;
	background-color: #fff;
}
.componentContent {
	text-align: center;
	padding: 10px;
	margin: 0;
	font-weight: 600;
}

/* object data style */

.layout-data-area {
	border: 1px solid #669fe0;
	padding: 20px;
}
