.pageWrapper {
	display: flex;
}

.sideBar {
	flex: 0 0 300px;
	background-color: #e1e1e1;
	height: 100vh;
	padding: 30px;
}
.sidebarItem {
	padding: 10px;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid rgb(51, 45, 45);
	text-align: center;
	text-transform: capitalize;
	border-radius: 6px;
}
.sidebarItem:not(:last-child) {
	margin-bottom: 10px;
}
.pageContainer {
	flex: 0 0 calc(100% - 300px);
	padding: 20px;
}
